<div class="container" id="homeBody">
    <div class="row">
        <div class="col-12" style="justify-content: center; display: flex;">
            <h3 class="roboto-medium" style="color: rgb(220, 53, 69); text-align: center" id="result"></h3>
        </div>
    </div>
    <div class="row" id="list">
       {{#each items}}
            <div class="col-lg-2 col-md-4 col-4" style="cursor: pointer;" data-aos="zoom-in">
                <a href='/infor?slug={{this.slug}}'>
                    <div class="card" style="margin-bottom: 10px; border-radius: 5px;">
                    <img class="card-img-top" src="https://otruyenapi.com/uploads/comics/{{this.thumb_url}}" alt="Card image">
                    <div class="card-body">
                        <h6 class="card-title truncated-text roboto-medium" style="height: 20px;">{{this.name}}</h6>
                        <p class="card-text roboto-regular">Cập nhật: {{timeAgo this.updatedAt}}</p>
                    </div>
                    <div class="chap">
                            <span class="badge badge-danger roboto-regular" style="margin: 0 !important;">Chap {{this.newChap}}</span>
                    </div>
                </div>
                </a>
            </div>
        {{/each}} 
    </div>
</div>
{{#with paginationData}}
    <div class="container">
        <div class="row">
        <div id="pagination" class="col-12" data-store1="{{this.totalItemsPerPage}}" data-store2="{{this.totalItems}}">
        </div>
        </div>
    </div>
{{/with}}

 <script>
        let pagination = document.querySelector('#pagination')
        let totalItems = pagination.getAttribute('data-store2')
        let itemsPerPage = pagination.getAttribute('data-store1')
        let arr = []
        let currentPage
        let result = document.querySelector('#result')
        const urlParams = new URLSearchParams(window.location.search);
        const pageParam = urlParams.get('page');
        if (pageParam) {
            currentPage = parseInt(pageParam);
        }else {
            currentPage = 1
        }
        let slug = new URL(window.location.href).pathname
        if(slug == '/') slug = '/truyen-moi'
        if(slug.includes('/the-loai/')) {
            result.innerHTML = 'TRUYỆN TRANH ' + slug.split('/')[2].toUpperCase().replace('-',' ')
        }
        else if(slug.includes('/tim-kiem')) {
            let keyword = urlParams.get('keyword')
            if(totalItems == '0') {
                result.innerHTML = 'KHÔNG TÌM THẤY TRUYỆN'
            }else {
                result.innerHTML = 'TRUYỆN TRANH ' + keyword.toUpperCase().replace('-',' ')
            }
        }
        for(let i=1; i<=totalItems; i++) {
            arr.push(i)
        }
        $('#pagination').pagination({
            dataSource: arr,
            pageSize: itemsPerPage,
            pageNumber : currentPage,
            autoHidePrevious: true,
            autoHideNext: true,
            callback: function(data, pagination) {
                let pagiBtns = document.querySelectorAll('.paginationjs ul li')
                pagiBtns.forEach(item => {
                    item.onclick = function() {
                        if(item.classList.contains('disabled')) {
                            return
                        }
                        if(slug == '/tim-kiem') {
                            let keyword = urlParams.get('keyword')
                            location.href = `/tim-kiem?keyword=${keyword}&page=${item.getAttribute('data-num')}`
                        }
                        else {
                            location.href = `${slug}?page=${item.getAttribute('data-num')}`
                        }
                    }
                })
            }
        })
</script>
